<div class="parent">
    <div class="left">
        <h4 routerLink="home">Home</h4>
        <h4 routerLink="databinding">Data Binding</h4>
        <h4 routerLink="calculator">Calculator</h4>
        <h4 routerLink="rectangle">Rectangle</h4>
        <h4 routerLink="directives">Directives</h4>
        <h4 routerLink="gpay">Gpay</h4>
        <h4 routerLink="product">Product</h4>
        <h4 routerLink="vehicle">Vehicle</h4>
        <h4 routerLink="sbibank">SBI</h4>
        <h4 routerLink="flipkart">Flipkart</h4>
        <h4 routerLink="mail">Mail</h4>
        <h4 routerLink="boredom">Boredom</h4>
        <h4 routerLink="create-vehicle">Create Vehicle</h4>
        <button routerLink="/login" class="logout-button">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>